<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manager Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font-Awesome core CSS -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <!-- Layout core CSS -->
    <link rel="stylesheet" href="~/css/_layout_template.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Sidebar User -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-text mx-3">Dashboard Madera</div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Accueil -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Accueil</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Consultation
            </div>

            <!-- Nav Item - Consultation Commercial -->
            <li class="nav-item active">
                <a class="nav-link" href="/Commercial">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Commercial</span>
                </a>
            </li>

            <!-- Nav Item - Consultation Client -->
            <li class="nav-item active">
                <a class="nav-link" href="/Client">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Client</span>
                </a>
            </li>
        </ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End Page Content -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Dashboard Madera 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Layout core JavaScript -->
    <script src="~/js/_layout_script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
